$cool-tech-red: #F53B53;
$capgemini-blue: #0070AD;
$capgemini-blue-hover: #01517c;
$vibrant-blue: #12ABDB;
$cool-grey: #F5F5F7;
$white: #FFFFFF;
$deep-purple: #2B0A3D;
$orange: #FF4019;

$font-stack: 'Ubuntu mono', sans-serif;
$font-size-base: 16px;
$font-size-lg: 20px;
$font-size-sm: 14px;
$font-weight-normal: 400;
$font-weight-bold: 700;